<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.claudiosv.pulse-vpn-menu.helper</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/PulseVPNMenuHelper</string>
    <key>MachServices</key>
    <dict>
        <key>com.claudiosv.pulse-vpn-menu.helper</key>
        <true/>
    </dict>
    <key>AbandonProcessGroup</key>
    <true/>
</dict>
</plist>
